@page
@model music_web_app.Pages.Admin.SongTable.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete song</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Song info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.NameSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.NameSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Lyric)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Lyric)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Listens)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Listens)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.DateUpload)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.DateUpload)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.ImageSong)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Song.ImageSong" style="width:100px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.Singer.NameSinger)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Song.Singer.Avatar" style="width:200px" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song.CategorySong.NameCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.CategorySong.NameCategory)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Song.IdSong" />
        <input type="submit" value="Save" class="btn btn-danger" /> |
        <a style="margin-left: 10px;" class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </form>
</div>
